body{
    font-family: "Comic Sans MS",sans-serif;
    margin: 0px;
}
h2{
    background-color: orangered;
    padding: 10px;
    text-align: center;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
}