body{
    font-family: "Comic Sans MS",sans-serif;
    margin: 0px;
}
h2{
    background-color: orangered;
    padding: 10px;
    text-align: center;
}
#display{
    background-color: orange;
    padding: 10px;
    width: 100%;
    height: 100px;
}
#display1{
    background-color: red;
    padding: 10px;
    text-align: center;
}